<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mlipa.move.client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LogInActivity"
            android:label="@string/application_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:label="@string/activity_dashboard_label" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_label"
            android:parentActivityName=".DashboardActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mlipa.move.client.DashboardActivity" />
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="@string/activity_profile_label"
            android:parentActivityName=".DashboardActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mlipa.move.client.DashboardActivity" />
        </activity>
    </application>
</manifest>
