<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mlipa.move.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/activity_move"
        android:supportsRtl="true"
        android:theme="@style/theme">

        <activity android:name=".SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LogInActivity"
            android:label="@string/activity_move" />

        <activity
            android:name=".DashboardActivity"
            android:label="@string/activity_dashboard" />

        <activity
            android:name=".AddActivity"
            android:label="@string/activity_add_activity"
            android:parentActivityName=".DashboardActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mlipa.move.client.DashboardActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".DashboardActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mlipa.move.client.DashboardActivity" />
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="@string/activity_profile"
            android:parentActivityName=".DashboardActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mlipa.move.client.DashboardActivity" />
        </activity>
    </application>
</manifest>
